/*this is a custom css stylesheet*/
@import url("https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet");

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}


/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}


/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}


/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'PT Serif', serif;
}

p {
  font-family: 'PT Serif', serif;
  color: #505050;
}


box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}

/*.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 160px;
  top: 45px;
  width: 3em;
  height: 0.25em;
  background: #FFFFFF;
  box-shadow: 
    0 1.80em 0 0 #FFFFFF,
    0 0.85em 0 0 #FFFFFF;
  }*/  

#ham {
  position: relative;
  top: 45px;
  left: 120px;
  color: #FFFFFF;
  font-size: 50px;
}

#backgroundj {
  background-image: url("../img/landing.jpg");
  height: 600px;
}

#position {
  margin-top: 50px;
  margin-left: 600px;
 } 

#white {
  color: white;
  margin-top: 60px;
}

#happyb {
  background-color: #E4E5E7;
}

#partyb {
  background-color: #F15B29;
  color: #FFFFFF;
  opacity: 0.85;
}

#breakfastb {
  background-image: url("../img/breakfast.jpg");
}

#lunchb {
  background-image: url("../img/lunch.jpg");
}

#dinnerb {
  background-image: url("../img/dinner.jpg");
}

#customer {
  background-image: url("../img/foodsBg.jpg");
  padding-top: 100px;
  height: 610px;
}

#navh {
  height: 50px;
  border-bottom-color: transparent;
  padding: 10px;
  margin-left: 180px;
  margin-bottom: 0;
  position: relative;
  background-color: #FFFFFF;
}

#navh2  {
  height: 50px;
  border: 1px rgba(0,0,0,0.1);
  border-style: solid; 
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 0;
  position: relative;
  background-color: #E3E3E3;
}

#navh3 {
  height: 50px;
  border: 1px rgba(0,0,0,0.1);
  border-style: solid; 
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 0;
  position: relative;
  background-color: #E3E3E3;
}

#navh4 {
  height: 50px;
  border: 1px rgba(0,0,0,0.1);
  border-style: solid; 
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 0;
  position: relative;
  background-color: #E3E3E3;
}

#customer2 {
    height: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#header {
  width: 1650px;
}

#well2 {
  border-top-color: transparent;
  border-width: 1px;
  border-opacity: 0.0;
  height: 345px;
  margin-top: 0;
  margin-left: 180px;
  width: 1100px;
  background-color: #FFFFFF;
}

#well {
  border : 2px rgba(0,0,0,0.1);
  border-style: solid;
  margin-left: 160px;
  width: 1100px;
  padding-top: 30px;
  padding-bottom: 30px;

}

#posr { 
  position: relative;
  margin-left: 30px;
}

#posa {
  position: absolute;
  top: 33px;
  left: 750px;
  right: 30px;
}

#posline {
  position: absolute;
  top: 100px;
  left: 550px;
  transform: scale(1,16);
  color: rgba(0,0,0,0.3);
}

#side1 {
  margin-left: 120px;
}

#side2 {
  margin-left: 170px;
}

#side3 {
  margin-left: 30px;
}

#side4 {
  margin-left: 130px;
}

#side5 {
  margin-left: 60px;
}

#bcolor {
  border-color: grey;
  border-width: 3px;
  border-opacity: 0.50;
  background-color: transparent;
}

#subscribe {
  background-image: url("../img/subscribe.jpg");
  height: 300px; 
}

#margins {
  margin-top: 120px;
  color: #FFFFFF;
}

#email {
  margin-left: 58px;
  width: 400px;
  height: 39px;
  background-color: #5C5656;
  border-color: transparent;
  border-opacity: 0.50;
  color: #FFFFFF;
  padding-left: 30px;
  opacity: 0.80;
}

#submit {
  width: 200px;
  height: 39px;
  margin-left: 18px;
  background-color: #F15B29;
  color: #FFFFFF;
  font-size: 16px;
  opacity: 0.80;
}

#footer {
  background-color: #F15B29;
}

#footerm {
  margin-top: 60px;
  margin-left: 660px;
  margin-bottom: 10px;
}

#float {
  float: right;
  margin-right: 680px;
  margin-top: 65px;
}

#footerh {
  margin-bottom: 30px;
  
}

#footerp {
  margin-top: 30px;
  margin-bottom: 20px;
}

#left3 {
  position: absolute;
  top: 185px;
  left: 695px;
  color: #F15B29;
}

#left4 {
  position: absolute;
  top: 185px;
  left: 752px;
  color: #F15B29;
}

#left5 {
  position: absolute;
  top: 185px;
  left: 811px;
  color: #F15B29;
}

#button { 
  margin-left: 310px; 
}

#align1 {
  position: relative;
}

#align2 {
  position: absolute;
  left: 250px;
}

#mgr {
  margin-right: 30px;
}

#mgl {
  margin-left: 30px;
 } 

#img11 {
  position: relative;
  margin-top: 40px;
  margin-left: 30px;
}

#img12 {
  position: absolute;
  top: 40px;
  right: 420px;
}

#img13 {
  position: absolute;
  top: 0px;
  left: 335px;
}

#img14 {
  margin-right: 0;
  color: #F15B29;
}

#img15 {
  margin-left: 120px;
  color: #F15B29;
}

#img16 {
    margin-left: 100px;
    color: #F15B29;
}

#img17 {
  color: #F15B29;
  position: absolute;
  top: 100px;
  left: 650px;
}

#img18 {
  position: relative;
  top: -27px;
  left: 410px;
  color: #F15B29;
}

.mgh {
  margin-top: 30px;
  margin-left: 95px;
}

.transparent {
  background-color: transparent;
  border-color: #F15B29;
  border-width: 1.25px;
  color: #F15B29;
  font-size: 15px;
}

.colorb {
  border-style: solid;
}

.width1 {
  margin-left: ;
  font-size: 18px;
}

.ac {
  color: #F15B29;
  font-weight: bold;
}

.a {
  color: #4A4B43;
  font-weight: bold;
}

.pbottom {
  margin-bottom: 30px;
}

.b1 {
  border: 2px rgba(0,0,0,0.1);
  border-style: solid; 
  padding: 10px;
}

.arrow {
  color: #F15B29;
}

.row {
  padding-top: ;
}
.left {
  margin-left: 665px;
  position: relative;
}

.red {
  color: #F15B29;
}

.left2 { 
  position: relative; 
  margin-left: 15px;    
}

.footerc {
  color: #FFFFFF;
}

.margint {
  margin-top: 90px;
}

.height {
  height: 210px;
}

.height2 {
  height: 105px;
}

.menut {
  margin-top: 80px;
  color: #FFFFFF;
  opacity: 0.80;
}

.overlay:hover {
  bottom: 0;
  height: 100%;
}