/*this is a custom css stylesheet*/
@import url("https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet");

h1,h2,h3,h4,h5,h6 {
  font-family: 'PT Serif', serif;
}

p {
  font-family: 'PT Serif', serif;
  color: #505050;
}

#backgroundj {
  background-image: url("../img/landing.jpg");
  height: 600px;
}

#position {
  margin-top: 50px;
  margin-left: 600px;
 } 

#white {
  color: white;
  margin-top: 60px;
}

#happyb {
  background-color: #E4E5E7;
}

#partyb {
  background-color: #F15B29;
  color: #FFFFFF;
  opacity: 0.85;
}

#breakfastb {
  background-image: url("../img/breakfast.jpg");
}

#lunchb {
  background-image: url("../img/lunch.jpg");
}

#dinnerb {
  background-image: url("../img/dinner.jpg");
}

#customer {
  background-image: url("../img/foodsBg.jpg");
  padding-top: 100px;
  height: 610px;
}

#customer2 {
    height: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#well2 {
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  border-opacity: 0.3;
  height: 380px;
  margin-left: 160px;
  width: 1100px;
}

#well {
  border : 2px rgba(0,0,0,0.1);
  border-style: solid;
  margin-left: 160px;
  width: 1100px;
  padding-top: 30px;
  padding-bottom: 30px;

}

#posr { 
  position: relative;
  margin-left: 30px;
}

#posa {
  position: absolute;
  top: 33px;
  left: 750px;
  right: 30px;
}

#side1 {
  margin-left: 120px;
}

#side2 {
  margin-left: 170px;
}

#side3 {
  margin-left: 30px;
}

#side4 {
  margin-left: 130px;
}

#side5 {
  margin-left: 60px;
}

#bcolor {
  border-color: grey;
  border-width: 3px;
  border-opacity: 0.50;
  background-color: transparent;
}

#subscribe {
  background-image: url("../img/subscribe.jpg");
  height: 300px; 
}

#margins {
  margin-top: 120px;
  color: #FFFFFF;
}

#email {
  margin-left: 58px;
  width: 400px;
  height: 39px;
  background-color: #5C5656;
  border-color: transparent;
  border-opacity: 0.50;
  color: #FFFFFF;
  padding-left: 30px;
  opacity: 0.80;
}

#submit {
  width: 200px;
  height: 39px;
  margin-left: 18px;
  background-color: #F15B29;
  color: #FFFFFF;
  font-size: 16px;
  opacity: 0.80;
}

#footer {
  background-color: #F15B29;
}

#footerm {
  margin-top: 60px;
  margin-left: 660px;
  margin-bottom: 10px;
}

#float {
  float: right;
  margin-right: 680px;
  margin-top: 65px;
}

#footerh {
  margin-bottom: 30px;
  
}

#footerp {
  margin-top: 30px;
  margin-bottom: 20px;
}

#left3 {
  position: absolute;
  top: 185px;
  left: 710px;
  color: #F15B29;
}

#left4 {
  position: absolute;
  top: 185px;
  left: 766px;
  color: #F15B29;
}

#left5 {
  position: absolute;
  top: 185px;
  left: 826px;
  color: #F15B29;
}

#button { 
  margin-left: 310px; 
}

#align1 {
  position: relative;
}

#align2 {
  position: absolute;
  left: 250px;
}

#mgr {
  margin-right: 30px;
}

#mgl {
  margin-left: 30px;
}

.transparent {
  background-color: transparent;
  border-color: #F15B29;
  border-width: 1.25px;
  color: #F15B29;
  font-size: 15px;
}

.pbottom {
  margin-bottom: 30px;
}

.b1 {
  border: 2px rgba(0,0,0,0.1);
  border-style: solid; 
  padding: 10px;
}

.arrow {
  color: #F15B29;
}

.row {
  padding-top: ;
}
.left {
  margin-left: 680px;
  position: relative;
}

.red {
  color: #F15B29;
}

.left2 { 
  position: relative; 
  margin-left: 15px;    
}

.footerc {
  color: #FFFFFF;
}

.margint {
  margin-top: 90px;
}

.height {
  height: 210px;
}

.height2 {
  height: 105px;
}

.menut {
  margin-top: 80px;
  color: #FFFFFF;
  opacity: 0.80;
}

.overlay:hover {
  bottom: 0;
  height: 100%;
}